################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bs-design-patterns/bs-design-patterns/bin/Debug/netcoreapp3.1
/bs-design-patterns/bs-design-patterns/obj
/.vs
